/* PRINCIPALES*/

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilos para el contenedor de navegación */
nav {
  display: flex;
  /* Utilizamos Flexbox para un diseño flexible y responsivo */
  justify-content: space-between;
  /* Colocamos los elementos a los extremos del contenedor */
  align-items: center;
  /* Centramos verticalmente los elementos */
  background-color: #333;
  /* Color de fondo del menú */
  color: white;
  /* Color del texto */
  padding: 1rem;
  /* Espaciado interior */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
}

/* Estilos para la lista de elementos del menú */
nav ul {
  list-style-type: none;
  /* Quitamos los estilos de lista */
  display: flex;
  /* Mostramos los elementos en línea */
  margin: 0;
  padding: 0;
}

/* Estilos para cada elemento de la lista del menú */
nav li {
  margin-right: 1.5rem;
  /* Espacio entre elementos */
  font-size: 1.1rem;
  /* Tamaño de fuente */
  transition: color 0.3s ease;
  /* Transición suave para el cambio de color */
}

/* Estilos para los enlaces dentro del menú */
nav a {
  text-decoration: none;
  /* Quitamos el subrayado del enlace */
  color: white;
  /* Color del texto */
  transition: color 0.3s ease;
  /* Transición suave para el cambio de color */
}

/* Cambio de color al pasar el ratón por encima de los enlaces */
nav a:hover {
  color: #ffc107;
  /* Color de resalte al pasar el ratón */
}

/* Cambio de color al pasar el ratón por encima de los elementos de la lista */
nav li:hover {
  color: #ffc107;
  /* Color de resalte al pasar el ratón */
}

/********************************************************/

/*INICIO*/
main {
  padding: 20px;
  text-align: center;
}

main p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

/*********************/

/* TABLA */
#tabla-container {
  text-align: center;
  /* Centramos el contenido horizontalmente */
}

table {
  margin-top: 5%;
  /* Margen superior de 20 píxeles */
  margin-left: auto;
  /* Centramos la tabla horizontalmente */
  margin-right: auto;
  /* Centramos la tabla horizontalmente */
  border-collapse: collapse;
  /* Para eliminar el espacio entre las celdas */
  width: 80%;
  /* Ancho de la tabla */
  max-width: 800px;
  /* Ancho máximo de la tabla */
}

/* Estilos para las celdas */
th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  /* Borde de las celdas */

}

/* Estilos para las cabeceras de la tabla */
thead th {
  background-color: #f2f2f2;
  /* Color de fondo de las cabeceras */

}

/* Estilos para el botón "Agregar Clase" */
#aniadirclase {
  text-align: center;
  /* Centramos el botón horizontalmente */
  margin-top: 20px;
  /* Espacio superior */
}

#aniadirclase a {
  display: inline-block;
  /* Para que el enlace se comporte como un bloque */
  padding: 10px 20px;
  /* Espacio interior */
  background-color: #007bff;
  /* Color de fondo del botón */
  color: #fff;
  /* Color del texto */
  text-decoration: none;
  /* Sin subrayado */
  border-radius: 5px;
  /* Bordes redondeados */
}

.actions {
  text-align: center;
  width: 45%;
  align-items: center;

}

.actions a {
  display: inline-block;
  padding: 6px 12px;
  margin: 2px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
}

.actions a.edit {
  background-color: #007bff;
  color: white;
}

.actions a.delete {
  background-color: #dc3545;
  color: white;
}

.actions a:hover {
  background-color: #e9e9e9;
}

.actions a.edit:hover {
  background-color: #0056b3;
}

.actions a.delete:hover {
  background-color: #c82333;
}


/***************************************/

/* FORMULARIOS */
  /*clases*/
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup h2 {
  margin-top: 0;
}

input[type="text"],
input[type="submit"] {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

#confirmacionBorrado {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  text-align: center;
}

#confirmacionBorrado p {
  margin-bottom: 20px;
}

#confirmacionBorrado button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#confirmacionBorrado button:hover {
  background-color: #0056b3;
}
#atras{
  width:5%;
  width: 5%;
}
#tran {
  font-size: 12px; /* Tamaño del texto */
  padding: 6px 10px; /* Espaciado interno del botón */
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  text-decoration: none; /* Elimina el subrayado del enlace */
  border: none; /* Elimina el borde del botón */
  border-radius: 4px; /* Borde redondeado */
  width:10rem;
  display: block; /* Convertir enlace a elemento de bloque */
  margin: 0 auto; /* Centrar horizontalmente */
}


#tran:hover{

  background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor */
}

  /*palabras*/
  /* Estilos para el formulario */
.formulario {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para los campos de entrada */
.campoTexto,
.campoNumero {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Para incluir el padding en el ancho total */
}

/* Estilos para las etiquetas */
label {
  font-weight: bold;
}

/* Estilos para el botón */
#btnAñadirPalabra {
  background-color: #4CAF50; /* Verde */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Cambiar color de fondo del botón al pasar el mouse */
#btnAñadirPalabra:hover {
  background-color: #45a049;
}

/* Estilos para el campo oculto */
#idClase {
  display: none; /* Para ocultar el campo */
}
  /*Traducciones*/
.campoTexto {
    margin-bottom: 10px;
}

#btnGuardarTraducciones {
    margin-top: 10px;
}
/*Editar*/
#traductor-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#traductor-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

#traductor-form .input-container {
  margin-bottom: 15px;
}

#traductor-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#traductor-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#traductor-form input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#traductor-form input[type="submit"]:hover {
  background-color: #45a049;
}

/************************************************/
/* Palabras */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.panel-administracion {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.panel-administracion h1 {
  text-align: center;
}

.clase {
  margin-top: 20px;
}

.clase h2 {
  font-size: 20px;
}

.clase ul {
  list-style-type: none;
  padding: 0;
}

.clase ul li {
  margin-bottom: 10px;
}

.clase ul li::before {
  content: "• ";
  color: #007bff; /* Cambia el color del bullet según desees */
  font-weight: bold;
}
#btnAgregarPalabra {
  display: block;
  margin: 20px auto; /* Ajusta el margen superior e inferior automáticamente */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none; /* Para quitar el subrayado predeterminado en los enlaces */
  width: 10%;
  text-align: center;
}


#btnAgregarPalabra:hover {
  background-color: #0056b3; 
}

#btnEliminarPalabra,
#btnEditarPalabra {
  display: block;
  padding: 1px;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none; /* Para quitar el subrayado predeterminado en los enlaces */
  width: 2%;
  text-align: center;
  float: right; /* Alinea los botones a la izquierda */
  margin-left: 10px; /* Añade un margen izquierdo para separar los botones */
}

#btnEliminarPalabra {
  background-color: #ff0000;
}

#btnEliminarPalabra:hover {
  background-color: #980000; 
}

#btnEditarPalabra {
  background-color: #007bff;
}

#btnEditarPalabra:hover {
  background-color: #0056b3; 
}

.clase ul li{

  background-color: #e8e6e693;

  padding: 1%;
  border-radius: 5px;
  margin-top: 2%;
} 
